:root{
    --black: black;
    --white: white;
    --primary: #f4a5e6;
    --secondary: rgb(198, 99, 116);
    --sucess: green;
    --warning: gold;
    --danger:red;
    --info: rgba(7, 139, 240, 0.923);
}

.bg-black {
    background-color: var(--black) !important;
}


.txt-primary {
    color: var(--primary);
}

.txt-white {
    color: var(--white) !important;
}

.justify-content-center {
    justify-content: center;
}

.btn-primary-outline {
    background-color: var(--black) !important;
    border: 1px solid var(--primary);
    color: var(--primary) !important;
    border-radius: 50px !important;
}

.btn-white-outline {
    background-color: var(--black) !important;
    border: 1px solid var(--white);
    color: var(--white) !important;
    border-radius: 50px !important;
}

.btn-sucess-outline {
    background-color: var(--sucess) !important;
    border: none;
    color: var(--white) !important;
    border-radius: 50px !important;
}

.btn-info-outline {
    background-color: var(--info) !important;
    border: none;
    color: var(--white) !important;
    border-radius: 50px !important;
}

.btn-danger-outline {
    background-color: var(--danger) !important;
    border: none;
    color: var(--white) !important;
    border-radius: 50px !important;
}


.text-align-center {
    text-align: center;
}

.title {
    margin: auto !important;
}

.border-bottom-primary {
    border-bottom: 1px solid var(--white);
}

.searchbar {
    margin-top: 10px;
}

a{
    color: var(--white) !important;
}

li {
    border: none;
    border-radius: 12px !important;
}

.fw-bold {
    font-weight: bold !important;
}

.item-title {
    color: var(--white) !important;
    font-weight: 300 !important;
    padding-left: 10px;
}

.item-content{
    background-color: var(--black) !important;
    padding-left: 0 !important;
    margin-top: 10px;
}

.item-input-wrap input {
    padding-left: 10px !important;
}

.item-input-wrap {
    display: flex !important;

}

#BtnFalar:active {
    background-color: rgb(128, 4, 0) !important;/* Cor quando pressionado (mousedown ou toque) */
}

#add2 i {
    position:static !important;
    font-size: larger;
}

#perguntaEscrita, #perguntaEntendida, #input_rescrita, #input_rfalada {
    padding-right: 30px;
}

.btn-microfone i {
    background-color: var(--info);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 5px !important;
    margin-right: 5px !important;
}

